*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}


.header-text{
  width: 1024px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


header img{
  height: 70px;
}


.nav-list-item{
  list-style: none;
  display: inline-block;
  padding: 22px 30px;
}

.nav-list-item a{
  color: #FAFAFA;
  text-decoration: none;
}


.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
}


.main-visual-text{
  color: #FAFAFA;
  padding-top: 200px;
  text-align: center;
}

.main-visual-text h1{
  font-size: 64px;
  padding-bottom: 10px;
}

.main-visual-text p{
  font-size: 20px;
}


.portfolio{
  width: 100%;
  height: 850px;
  background-color: #ECEFF1;
}


.portfolio-item{
  width: 920px;
  margin: 0 auto;
}

.portfolio-item h1{
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  position: relative;
}

.portfolio-item h1:before{
  position: absolute;
  content: "";
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio-item p{
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
}


.portfolio-img{
  padding-top: 30px;
}

.portfolio-img img{
  width: 300px;
  height: 250px;
}


.feature-item{
  width: 980px;
  margin: 0 auto;
}

.feature-item h1{
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  position: relative;
}

.feature-item h1:before{
  position: absolute;
  content: "";
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-item p{
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
}

.feature-item ul li:nth-of-type(2){
  padding: 0 10px;
}


.feature-list{
  display: flex;
  list-style: none;
  
}

.feature-list i{
  font-size: 60px;
}

.feature-list h3{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feature-list p{
  font-size:16px;
  text-align: left;
}

.feature-text{
  width: 320px;
}

.feature-text span{
  text-align: center;
}