*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header{
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}


.header-text{
  width: 1024px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}


header img{
  height: 70px;
}


.nav-list-item{
  list-style: none;
  display: inline-block;
  padding: 22px 30px;
}

.nav-list-item a{
  color: #FAFAFA;
  text-decoration: none;
}


.main-visual{
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
}


.main-visual-text{
  color: #FAFAFA;
  padding-top: 200px;
  text-align: center;
}

.main-visual-text h1{
  font-size: 64px;
  padding-bottom: 10px;
}

.main-visual-text p{
  font-size: 20px;
}


#portfolio{
  width: 100%;
  background-color: #ECEFF1;
}


.portfolio-item{
  width: 920px;
  margin: 0 auto;
}

.portfolio-item h1{
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  position: relative;
}

.portfolio-item h1:before{
  position: absolute;
  content: "";
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.portfolio-item p{
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
}


.portfolio-img{
  padding-top: 30px;
  padding-bottom: 90px;
}

.portfolio-img img{
  width: 300px;
  height: 250px;
}


#feature{
  width: 100%;
  padding-bottom: 90px;
}


.feature-item{
  width: 980px;
  margin: 0 auto;
}

.feature-item h1{
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  position: relative;
}

.feature-item h1:before{
  position: absolute;
  content: "";
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-item p{
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
  padding-bottom: 30px;
}

.feature-item ul li:nth-of-type(2){
  padding: 0 10px;
}


.feature-list{
  display: flex;
  list-style: none;
  
}

.feature-list i{
  font-size: 60px;
}

.feature-list h3{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.feature-list p{
  font-size:16px;
  text-align: left;
}

.feature-text{
  width: 320px;
}

.feature-text span{
  text-align: center;
}


#profile{
  width: 100%;
  height: 590px;
  background-color: #ECEFF1;
}


.profile-item{
  width: 1024px;
  margin: 0 auto;
}

.profile-item h1{
  padding-top: 90px;
  text-align: center;
  position: relative;
}

.profile-item h1:before{
  position: absolute;
  content: "";
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}


.profile-explanation{
  padding-top: 30px;
  font-size: 16px;
  text-align: center;
}


.profile-detail{
  display: flex;
  padding-top: 30px;
}


.profile-img{
  width: 512px;
  text-align: center;
}

.profile-img img{
  border-radius: 50%;
}


.profile-text{
  width: 512px;
}

.profile-text h2{
  font-size: 20px;
}

.profile-text p{
  padding-top: 5px;
  padding-bottom: 20px;
  font-size: 16px;
}


.contact-item{
  width: 800px;
  padding: 90px 0;
  margin: 0 auto;
}

.contact-item h1{
  font-size: 32px;
  text-align: center;
  position: relative;
}

.contact-item h1:before{
  position: absolute;
  content: "";
  background-color: #EC715F;
  width: 70px;
  height: 3px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

.contact-item p{
  padding: 30px 0;
  font-size: 16px;
  text-align: center;
}


.contact-detail{
  width: 800px;
  display: flex;
  text-align: center;
}


.mail{
  width: 400px;
  
}

.mail a{
  color: #111111;
}


.tel{
  padding-top: 20px;
}


.sns{
  width: 400px;
}


.sns-icon{
  font-size: 50px;
}


.fa-twitter{
  padding: 0 20px;
}


footer{
  width: 100%;
  height: 60px;
  background-color: #EC715F;
  position: relative;
}

footer p{
  font-size: 16px;
  color: #FAFAFA;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





@media screen and (max-width: 768px){
  
  .container{
    width: 90%;
  }
  
  
  header{
    height: 50px;
    width: 100%;
  }
  
  
  header img{
    height: 50px;
  }
  
  
  .nemu-box{
    width: 40px;
    height: 40px;
    margin-right: 5%;
    border: 1px solid #FAFAFA;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
  }
  
  
  .list-bar{
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: #FAFAFA;
  }
  
  .list-bar:first-child{
    margin-top: 10px;
  }
  
  
  .nav-list{
    display: none;
  }
  
  
  .main-visual{
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
    height: 650px;
  }
  
  
  .main-visual-text{
    width: 90%;
    margin: 0 auto;
  }
  
  .main-visual-text h1{
    font-size: 40px;
  }
  
  
  .portfolio-img img{
    margin: 0 auto;
  }
  
  
  .portfolio-img-responsive-none{
    display: none;
  }
  
  
  .portfolio-img-responsive{
    display: block;
    width: 300px;
    height: 250px;
  }
  
  
  .portfolio-img-center{
    padding: 10px 0;
  }
  
}